@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

body{
    padding:50px;
    font-size: 16px;
    background-color: #333333;
    border: 2px dashed #ffff33;
    background-image: url(/images/19.jpg);
    background-size: cover;
    background-position: center;
    transition: background-image ease-in-out 1s;
}

p,span{
    color:#ffff33;
}

.underline:before{
    content: '';
    position:absolute;
    bottom:-2px;
    left: 0;
    width:65%;
    height: 2px;
    background-color: var(--clr);
    margin-top: 2px;
}

p.title{
    --clr:#00ff00;
    color:var(--clr);
    position: relative;
}

.hide{
    display: none;
}

.popup{
    width: 350px;
    padding-top: 10px;
    background-color: rgb(0 0 0 / 70%);
    border-radius: 8px;
}

.popup :where(.picker,header,.all-colors,.color){
    display: flex;
    align-items: center;
}

.popup .picker-wrapper{
    position: relative;
    /*width: 350px;
    height: 200px;*/
    margin:0 auto;
    width:200px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.popup .picker-wrapper:before{
    position:absolute;
    content:'';
    width:100%;
    height: 100%;
    background:linear-gradient(0deg,transparent,#00ff00,#ffff33);
    top:-50%;
    left:-50%;
    animation:animate 6s linear infinite;
    transform-origin: bottom right;
}

.popup .picker-wrapper:after{
    position:absolute;
    content:'';
    width:100%;
    height: 100%;
    background:linear-gradient(0deg,transparent,#ffff33,#00ff00);
    top:-50%;
    left:-50%;
    animation:animate 6s linear infinite;
    animation-delay: -3s;
    transform-origin: bottom right;
}

.popup .picker{
    position: absolute;
    inset: 2px;
    z-index: 10;
    border-radius: 8px; 
    background: #000;
    padding:30px 0;
    display: flex;
    justify-content: center;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.picker #color-picker{
    outline: none;
    border:none;
    color:#ffff;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius:5px;
    padding: 20px 30px;
    color:#000;
    background:linear-gradient(0deg,#ffff33,#00ff00);
    transition: transform ease-in-out .3s;
}

.picker #color-picker:hover{
    transform:scale(1.5);
}

.picked-colors{
    position: relative;
    padding:10px 5px;
}

.picked-colors::before{
    content: '';
    position: absolute;
    border-radius: 8px;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background:linear-gradient(0deg,transparent,#ffff33,transparent,#ffff33);
    z-index: 1;
    opacity: 1;
}

.picked-colors header{
    font-size: 1.5rem;
    justify-content: space-between;
    margin-bottom: 15px;
}

.picked-colors .clear-all{
    --clr:#000000;
    background-color: red;
    color: var(--clr);
    cursor:pointer;
    font-size: 1.3rem;
    border:1px solid var(--clr);
    border-radius: 5px;
    padding:1px 15px;
}

.all-colors{
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    max-height: 125px;
    overflow: auto;
}

.all-colors::-webkit-scrollbar {
    width: 2px;
  }
   
  .all-colors::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .all-colors::-webkit-scrollbar-thumb {
    background-color: #00ff00;
    outline: 1px solid #ffff33;
  }


.all-colors .color{
   cursor:pointer;
}

.all-colors .color .rect{
    display: block;
    width:22px;
    height: 22px;
    margin-right:8px;
    border-radius:5px;
}

.all-colors .color .value{
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
}

.clip-animation { 
    clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%)}
  
  .clip-animation { 
    animation: clip 2s infinite
  }
  
  @keyframes clip {
    0% {
      clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%);
    }
    50% {
      clip-path: polygon(84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%);
    }
     100% {
      clip-path: polygon(91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%,84.70057014808336% 54.5684167277018%);
    }
  }